/* #region GENERAL */

:root {

    /* do not use pixels for font-size*/
    font-size: 62.5%;

    /* palette */
    --primary-chiari: #fafafa;
    --secondary-chiari: #eee;
    --tertiary-chiari: #ddd;

    --primary-scure: #333;
    --secondary-scure: #222;
    --tertiary-scure: #151515;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--primary-scure);
    color: var(--primary-chiari);
    text-align: center;
}

/* #endregion GENERAL */

/* #region HEADER */


/* #endregion HEADER */

/* #region MAIN */


/* #region OBJECTS SECTION */
#objects {
    min-height: 500px;
    border: 5px solid --primary-chiari;
    background-color: var(--secondary-scure);
}

.template {
    background-color: var(--tertiary-scure);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 2px solid var(--primary-chiari);
    transition: .1s;
}

.template:hover {
    background-color: var(--secondary-scure);
}

.template p {
    font-size: 5em;
}

.template p::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--primary-chiari);
    margin: 0 auto;
    transition: .3s;
    width: 0%;
}

.template p:hover::after {
    width: 30%;
}

/* #endregion OBJECTS SECTION */

/* #endregion MAIN */

/* #region FOOTER */


/* #endregion FOOTER */